.card {
  width: 150px;
  height: 200px;
  border: 1px rgba(143, 143, 143, 0.2) solid;
  padding: 10px;
  margin: 10px;
}

form {
  display: none;
}

.read {
  color: white;
  background-color: rgb(91, 151, 0);
}

.unread {
  color: white;
  background-color: rgb(151, 0, 0);
}

.container {
  display: flex;
  flex-direction: row;
}
